<launch>
    <!-- libro model spawn -->
    <include file="$(find libro_model)/launch/include/libro_spawn.launch" />
    <!-- gazebo world -->
    <include file="$(find libro_model)/launch/include/gazebo_world.launch" />
    <!-- gmapping -->
    <!-- <include file="$(find libro_model)/launch/include/gmapping.launch" /> -->
    <!-- Map server -->
    <arg name="map_file" default="$(find libro_model)/maps/mzlibrary.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 1000"/> -->

    <!-- AMCL -->
    <include file="$(find libro_model)/launch/include/amcl.launch" />
    <!-- Move base -->
    <!-- <include file="$(find libro_model)/launch/include/move_base.launch"/> -->

    <!-- rviz -->
    <arg name="rviz_config" default="$(find libro_model)/urdf.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
    <!-- libro_model keyboard teleop control -->
    <!-- <node name="libro_teleop_publisher" pkg="libro_model" type="libro_teleop.py" /> -->
</launch>
