<launch>
    <!-- libro model spawn -->
    <include file="$(find libro_model)/launch/include/libro_spawn.launch" />
    <!-- gazebo -->
    <include file="$(find libro_model)/launch/include/gazebo_world.launch" />
    <!-- gmapping -->
    <include file="$(find libro_model)/launch/include/gmapping.launch" />

    <!-- AMCL -->
    <include file="$(find libro_model)/launch/rrt/amcl.launch" />
    <!-- Move base -->
    <include file="$(find libro_model)/launch/rrt/move_base.launch"/>
    <arg name="rviz_config" default="$(find libro_model)/rviz/rrt.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
    <!-- Explore_lite -->
     <include file="$(find explore_lite)/launch/explore.launch"/>
</launch>
