<launch>
    <!-- libro model spawn -->
    <include file="$(find libro_model)/launch/include/libro_spawn.launch" />
    <!-- gazebo -->
    <include file="$(find libro_model)/launch/include/gazebo_world.launch" />
    <!-- gmapping -->
    <include file="$(find libro_model)/launch/include/gmapping.launch" />
    <!-- AMCL -->
    <!-- <include file="$(find libro_model)/launch/include/amcl.launch" />     -->

    <!-- save the map -->
    <!-- rosrun map_server map_saver -f mymap -->
    <!-- rviz -->
    <arg name="rviz_config" default="$(find libro_model)/urdf.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
    <!-- libro_model keyboard teleop control -->
    <!-- <node name="libro_teleop_publisher" pkg="libro_model" type="libro_teleop.py" /> -->
</launch>
