<?xml version="1.0"?>
<robot>
  <!-- Add transmission to each wheel joint -->
  <macro name="wheel_trans" params="prefix_name">
    <transmission name="${prefix_name}_wheel_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix_name}_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix_name}_wheel_motor">
        <mechanicalReducction>1</mechanicalReducction>
      </actuator>
    </transmission>
  </macro>

  <wheel_trans prefix_name="left_front" />
  <wheel_trans prefix_name="right_front" />
  <wheel_trans prefix_name="left_rear" />
  <wheel_trans prefix_name="right_rear" />

  <!-- Add Gazebo meterials tag -->
  <gazebo reference="libro_chassis_link">
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="left_front_wheel_link">
      <material>Gazebo/FlatBlack</material>
 </gazebo>
 <gazebo reference="right_front_wheel_link">
      <material>Gazebo/FlatBlack</material>
 </gazebo>
 <gazebo reference="left_rear_wheel_link">
      <material>Gazebo/FlatBlack</material>
 </gazebo>
 <gazebo reference="right_rear_wheel_link">
      <material>Gazebo/FlatBlack</material>
 </gazebo>
 <gazebo reference="ydlidar_link">
      <material> Gazebo/Grey </material>
 </gazebo>

  <!-- Add Gazebo ros control tag -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

 </robot>