<launch>
  <arg name="scan_topic" default="scan" />
  <arg name="base_frame" default="base_footprint"/>
  <arg name="odom_frame" default="odom"/>
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <!--底盘坐标系-->
    <param name="base_frame" value="$(arg base_frame)"/>
    <!--里程计坐标系-->
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <!--激光雷达最大可用距离，在此之外的数据截断不用-->
    <param name="maxUrange" value="5.0"/>
    <!--激光雷达最大距离-->
    <param name="maxRange" value="8.0"/>
    <!--更新时间(s)，每多久更新一次地图，不是频率-->
    <param name="map_update_interval" value="1.0"/>        
    <param name="xmin" value="-10.0"/>
    <param name="ymin" value="-10.0"/>
    <param name="xmax" value="10.0"/>
    <param name="ymax" value="10.0"/>
  </node>
</launch>