<launch>
  <arg name="model" />
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find libro_model)/urdf/libro_model.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find libro_model)/rviz/slam.rviz" />
</launch>
